@import "variables";
@import "../valo/valo";

@import "addons";


.valo-flatdark {
   @include valo;
   
   .bookBackimage {
       	background: url("img/5div10.png");
       	background-repeat: repeat;
	}
	.v-grid-cell.perfect {
 	   background-color: rgb(0, 38, 76);
	}
	
}